
.messageName {
    text-align: left;
    align-content: center;
    /* margin-bottom: 5px; */
}

.messageDate {
    font-size: 12px;
    font-weight: 300px;
    font-style: italic; 
}

.messageContent {
    text-align: left;
}