.App {
  text-align: center;
  background-color: lightgray;
}

.App-header {
  background-image: url(/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
