@font-face {
  font-family: "Tecmo Touchdown";
  src: url("/tecmo-touchdown.ttf");
}

@font-face {
  font-family: "Tecmo Set1";
  src: url("/tecmo-set1.ttf");
}

.App {
  text-align: center;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}

.App-header {
  background-image: url(/header.png), url(/stadium.png);
  background-repeat: no-repeat, repeat-x;
  background-position: left, right;
  background-size: auto;
  height: 400px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
  color: white;
  padding: 5px;
}

a{
  font-family: 'Roboto Mono', monospace;
}
body {
  font-size: 14px;
}
.tecmo-font {
  font-family: "Tecmo Set1";
}
.body-copy-font {
  font-family: 'Roboto Mono', monospace;
}
.tecmo-underline {
  text-decoration: underline solid #FC74B4;
}
.tecmo-blue {
  color: #3CBCFC;
}
.tecmo-pink {
  color: #FC74B4;
}

