.team {
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Tecmo Set1";
    color: white;
    /* min-width: 400px; */
}

.total {
    text-align: left;
    /* font-size: 8px; */
}

.points {
    text-align: right;
    /* font-size: 10px; */
}

.row {
    padding-bottom: 5px;
    padding-top: 5px;
}
.top {
    background-color: black;
    line-height: 18px;
}

.team-name {
    margin-top: 10px;
    text-align: center;   
    /* font-size: 8px; */
}

.bottom {
    background-color: blue;
}