.team {
    margin-left: 5px;
    margin-right: 5px;
    
    color: white;
    /* min-width: 400px; */
}

.total {
    text-align: left;
}

.points {
    text-align: right;
}

.row {
    padding-bottom: 5px;
    padding-top: 5px;
}
.top {
    background-color: black;  
}

.team-name {
    margin-top: 10px;
    text-align: center;
}

.bottom {
    background-color: blue;
}